<div class="form-group">
  <label for="name">Name:</label>
  <input type="text" class="form-control" name="cafe[name]" id="name" 
      value="<%= ((cafe) ? cafe.name : null) %>" required>
</div>
<div class="form-group">
  <label for="location">Location:</label>
  <input type="text" class="form-control" name="cafe[location]" id="location"
    value="<%= ((cafe) ? cafe.location : null) %>" required>
</div>
<div class="form-group">
  <label for="desc">Description:</label>
  <textarea class="form-control" name="cafe[desc]" id="desc" required><%= ((cafe) ? cafe.desc : null) %></textarea>
</div>
<div class="form-group">
  <label for="avgPrice">Average Price:</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupPrepend">$</span>
    </div>
    <input type="number" class="form-control" name="cafe[avgPrice]" id="avgPrice" step="any"
      value="<%= ((cafe) ? cafe.avgPrice : null) %>" >
  </div>
</div>